
.ipynb_checkpoints/
./.ipynb_chachpoints/
./model/hf_cache
datasets/
checkpoints/
*.pth
*.pt
*.ckpt
*.zip
*.tar
*.tar.gz


# large model/cache files
**/model/hf_cache/
*.pt
*.pth
*.bin
*.safetensors
.ipynb_checkpoints/
data/
**/model/hf_cache/
**/checkpoints/
*.pt
*.pth
*.bin
*.safetensors
__pycache__/
*.pyc
